[submodule "services/atom-dbro-moderator-app"]
	path = services/atom-dbro-moderator-app
	url = git@github.com:Web2Bizz/atom-dbro-moderator-app.git
[submodule "services/atom-dbro-frontend"]
	path = services/atom-dbro-frontend
	url = git@github.com:Web2Bizz/atom-dbro-frontend.git
[submodule "services/atom-dbro-backend"]
	path = services/atom-dbro-backend
	url = git@github.com:Web2Bizz/atom-dbro-backend.git
