# Logs
nginx/logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Docker
.dockerignore

# Environment
.env
.env.local

# Backups (игнорируем файлы, но не саму директорию и .gitkeep)
backups/*
!backups/.gitkeep

services/**/*
!services/gateway/**/*
!services/**/.env.example
!services/**/.gitkeep

/**/*.pem